// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 $gray: #F4F4F4;

 body {
   background: #F4F4F4;
   text-align: center; // Using this variable
 }

  .banner {
  text-align: center;
   background: #F4F4F4;
   h1 {
     font-size: 48px;
   };
   h2 {
    font-size: 10px;
   };
 }

  a {
   color: grey;
   &:hover {
     color: black;
   };
 }
